/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

------------------------------------------------------------- */
@import url("https://fonts.googleapis.com/css?family=Barlow:400,400i,700,900");
body {
  background-color: #e8e8e8; }

h1 {
  font-family: 'Barlow', sans-serif;
  font-size: 48px;
  font-weight: 900;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0;
  padding: 0; }

h2 {
  font-family: 'Barlow', sans-serif;
  font-size: 24px;
  font-weight: 900;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0;
  padding: 0; }

li {
  list-style-type: none;
  font-family: 'Barlow', sans-serif;
  font-weight: 500;
  font-size: 14pt; }

a {
  text-decoration: none; }

.nav-full {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 0px;
  background-color: #1E272D;
  transition: all 500ms ease-out;
  z-index: 2; }

.nav-full.open {
  width: 440px; }

.logo {
  position: absolute;
  width: 72px;
  height: 80px;
  margin: 30px 0 30px 50px;
  text-align: center;
  border-radius: 8px; }

.logo.open {
  margin-left: 72px; }

.rsbear-logo:hover {
  fill: #69889E;
  cursor: pointer; }

.rs-title {
  position: absolute;
  top: 6px;
  text-align: center;
  width: 70px; }

.rs-title, .rs-text {
  font-family: 'Barlow', sans-serif;
  font-weight: 900;
  font-size: 30pt;
  text-transform: uppercase;
  color: #FFFFFF; }

.drawer-btn-bg {
  position: absolute;
  height: 42px;
  width: 42px;
  border-radius: 50%;
  background-color: #2C3942;
  left: 70px;
  top: 132px;
  transition: all 200ms ease-out;
  box-shadow: 0px 0px 2px 0px rgba(32, 39, 43, 0.8);
  cursor: pointer; }

.drawer-btn-bg.open {
  left: 88px; }

.drawer-btn-bg:hover {
  background-color: #69889E;
  transform: scale(1.08, 1.08); }

.nav-honeyjar {
  width: 14px;
  margin: 9px 0 0 14px;
  position: relative;
  display: inline-block;
  cursor: pointer; }

.links-list {
  margin: 260px 0 0 66px;
  padding: 0;
  line-height: 50px;
  visibility: hidden;
  transition: all 200ms ease-out; }

.links-list.open {
  visibility: visible; }

.linkage a {
  color: #FFFFFF;
  margin: 5px;
  padding: 5px 12px 5px 12px;
  border-radius: 4px; }

.linkage a:hover {
  color: #282C2E;
  background-color: #EEBA0B; }

.hints {
  position: absolute;
  margin-left: 20px;
  height: 0;
  width: 240px;
  color: #69889E;
  font-style: italic;
  visibility: hidden; }

.linkage a:hover + .hints,
.linkage a:focus + .hints,
.linkage a:active + .hints {
  visibility: visible; }

.social-icons-container {
  position: relative;
  width: 300px;
  margin-top: 50px;
  visibility: hidden; }

.social-icons-container.open {
  visibility: visible; }

.footer-nav {
  height: 80px;
  position: absolute;
  top: -5px;
  right: 40px; }

.icon-nav,
.icon-nav, .icon {
  padding: 0;
  list-style: none;
  margin-bottom: 0 auto 0 auto; }

.icon-nav {
  margin-top: 0px;
  float: right;
  text-align: right; }

.icon-nav, .fa {
  color: black; }

.icon-nav .icon {
  display: inline-block; }

.icon-nav .icon + .icon {
  padding-left: 0px; }

.icon-nav a:link,
.icon-nav a:visited {
  display: inline-block;
  width: 60px;
  height: 40px;
  text-align: center;
  text-decoration: none; }

/* SOCIAL nav icons */
.icon-nav .fa {
  color: #69889E;
  margin-bottom: 5px;
  width: inherit;
  height: inherit;
  font-size: 1.2rem;
  line-height: 80px;
  transition-duration: .2s; }

.icon-nav .item:hover .fa,
.icon-nav .item:focus .fa,
.icon-nav a:hover .fa,
.icon-nav a:focus .fa,
.icon-nav a:active .fa {
  -webkit-transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -khtml-transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -moz-transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -ms-transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -o-transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transform: translateY(-4px);
  -khtml-transform: translateY(-4px);
  -moz-transform: translateY(-4px);
  -ms-transform: translateY(-4px);
  -o-transform: translateY(-4px);
  transform: translateY(-4px);
  color: #EEBA0B;
  opacity: 1; }

/*SOCIAL nav text */
.icon-nav .fa + * {
  position: relative;
  font-family: 'Barlow', sans-serif;
  font-size: .8rem;
  letter-spacing: 1px;
  white-space: nowrap;
  opacity: 0; }

.icon-nav a:hover .fa + *,
.icon-nav a:focus .fa + *,
.icon-nav a:active .fa + * {
  color: #69889E;
  top: 2px;
  opacity: 1; }

.content-container {
  width: 400px;
  margin: 180px 0 0 380px; }

.intro-text {
  font-family: 'Barlow', sans-serif;
  font-size: 32pt; }

@media only screen and (min-width: 960px) {
  /* styles for browsers larger than 960px; */ }
@media only screen and (min-width: 1440px) {
  /* styles for browsers larger than 1440px; */ }
@media only screen and (min-width: 2000px) {
  /* for sumo sized (mac) screens */ }
@media only screen and (max-device-width: 480px) {
  /* styles for mobile browsers smaller than 480px; (iPhone) */
  .logo, .rsbear-logo {
    width: 50px;
    margin: 10px; }

  .drawer-btn-bg {
    width: 28px;
    height: 28px;
    top: 90px;
    left: 30px; }

  .nav-honeyjar {
    height: 14px;
    margin-top: 7px;
    margin-left: 7px; }

  .content-container {
    width: 90%;
    margin: 200px 5% 100px 5%;
    text-align: left; }

  .conent-container, .intro-text {
    font-size: 26pt; } }
@media only screen and (max-device-width: 768px) {
  /* default iPad screens */
  .logo, .rsbear-logo {
    width: 50px;
    margin: 10px; }

  .drawer-btn-bg {
    width: 28px;
    height: 28px;
    top: 90px;
    left: 30px; }

  .nav-honeyjar {
    height: 14px;
    margin-top: 7px;
    margin-left: 7px; }

  .content-container {
    width: 90%;
    margin: 200px 5% 100px 5%;
    text-align: left; }

  .conent-container, .intro-text {
    font-size: 26pt; } }
/* different techniques for iPad screening */
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* For portrait layouts only */ }
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* For landscape layouts only */ }

/*# sourceMappingURL=main.css.map */
